<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/styles.css') }}">
</head>

<body>
  {% if session['tipo'] == 'admin' %} {%include '/Navs/navAdmin.html'%} {% endif %}
  {% if session['tipo'] == 'tec' %} {%include '/Navs/navTecnico.html'%}{% endif %}
  {% if session['tipo'] == 'ate' %} {%include '/Navs/navAtencion.html'%}{% endif %}

  <div class="col-sm-10">
    <br>
    <h1 style="text-align: center">VENTAS</h1>
    <form action="/buscar_item" method="POST">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <input type="text" placeholder="Buscar..." class="form-control" id="search" name="id">
          </div>
          <div class="col">
            <input type="submit" class="btn btn-primary" value="Buscar">
          </div>
        </div>
    </form>
    <form action="/add_item" method="POST">
      <div class="row text-center pt-5 px-5">
        <div class="col-3">
          {% if data%}
          <input type="text" name="id" value="{{data.0}}" hidden>
          {% endif%}
          {% if not data%}
          <input type="text" name="id" value="" hidden>
          {% endif%}
          {% if data %}
          <input type="text" class="form-control" name="nombre" value="{{data.1}}">
          {% endif%}
          {% if not data %}
          <input type="text" class="form-control" name="nombre" value="">
          {% endif%}
        </div>
        <div class="col-3">
          {% if data %}
          <input type="text" class="form-control" name="precio" value="{{data.3}}" readonly>
          {% endif%}
          {% if not data %}
          <input type="text" class="form-control" name="precio">
          {% endif%}
        </div>
        <div class="col-3">
          {% if data %}
          <input type="text" class="form-control" name="cant">
          {% endif%}
          {% if not data %}
          <input type="text" class="form-control" name="cant">
          {% endif%}
        </div>
        <div class="col-2">
          <input type="submit" class="btn btn-primary" value="Agregar">
        </div>
      </div>
  </div>
  </form>
  <form action="/registrarVenta" method="POST">
    <div class="col pt-5">
      <table class="table rounded">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if 'carrito' in session %}
          {% for key, value in session['carrito'].items()%}
          {% set cod = session['carrito'][key]['Codigo']%}
          {% set nom = session['carrito'][key]['Nombre']%}
          {% set cant = session['carrito'][key]['cantidad']%}
          {% set pre = session['carrito'][key]['Precio']%}
          {% set tot = session['carrito'][key]['total_price']%}
          <tr>
            <td scope="row" name="cod">{{cod}}</td>
            <td scope="row">{{nom}}</td>
            <td scope="row">{{cant}}</td>
            <td scope="row">{{pre}}</td>
            <td scope="row">{{tot}}</td>
            <td> <a href="/eliminarItem/{{cod}}" class="btn btn-danger btn-sm">x</a> </td>
          </tr>
          {% endfor %}
          {%endif%}
        </tbody>
      </table>
    {% if 'carrito' in session%}
    <div class="row aling-items-center">
      <div  class="col-4 align-self-start">
      </div>
      <div  class="col-4 align-self-center">
      </div>
      <div  class="col-4 align-self-end">
      <h2>Total: {{session['total']}}</h2>
    </div>
    </div>
    {% endif %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a type="btn" href="/eliminarCarrito" class="btn btn-danger mr-5"> Cancelar</a>
      <input type="submit" class="btn btn-success me-md-2 mr-5" value="Confirmar compra">
    </div>
  </form>
  </div>
</body>

</html>